services:
  nameres_solr:
    container_name: nameres_solr
    image: solr:9.1
    mem_limit: 18G
    environment:
      # Change this setting to control how much memory you would like your Solr setup to have.
      # Note that your Docker will need to be configured to allow this amount of memory.
      SOLR_JAVA_MEM: '-Xmx16G'
    ports:
      - '8983:8983'
    # Solr needs to store its data somewhere. It defaults to `./data`, but you can reconfigure this to any
    # directory you want.
    volumes:
      - type: bind
        source: ./data/solr
        target: /var/solr/data

  nameres_web:
    container_name: nameres_web
    platform: linux/amd64
    environment:
      - SOLR_HOST=nameres_solr
      - BABEL_VERSION=          # e.g. 2025mar31
      - BABEL_VERSION_URL=      # The URL of the Babel version URL
      - LOCATION_VALUE=localhost
      - MATURITY_VALUE=development
    ports:
      - '2433:2433'

    # This will use the latest version of NameRes -- if you'd prefer to build an image using the Dockerfile
    # in the current directory, remove the `:latest` tag and uncomment the `build:` section that follows it.
    image: ghcr.io/ncatstranslator/nameresolution:latest
    # build:
    #  context: .
